In [100]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
import pickle as pk

LOADING OF DATASET

In [101]:
df= pd.read_csv(r"D:\Priject\Loan Eligibility Prediction\loan.csv")
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

CHECKING AND CLEANING OF DATA

In [102]:
df.head()[:5]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [103]:
df.tail()[:5]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [104]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [105]:
df.duplicated().sum()

0

In [106]:
df.dropna(inplace=True)

In [107]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

Cleaning

In [108]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [109]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [110]:
df.drop(columns=["Loan_ID"], inplace=True)

In [111]:
df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

DATA PROCESSING

In [112]:
df["TOTAL ASSESTS"]= df.ApplicantIncome + df.CoapplicantIncome

In [113]:
df.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status',
       'TOTAL ASSESTS'],
      dtype='object')

In [114]:
df.drop(columns=["ApplicantIncome"], inplace=True)

In [115]:
df.Education.unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [116]:
df["Education"] = df["Education"].replace(['Graduate', 'Not Graduate'],[1,0])

C:\Users\ACER\AppData\Local\Temp\ipykernel_23016\2803155425.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Education"] = df["Education"].replace(['Graduate', 'Not Graduate'],[1,0])

In [117]:
df.Education

1      1
2      1
3      0
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    1
Name: Education, Length: 480, dtype: int64

In [118]:
df

,Gender,Married,Dependents,Education,Self_Employed,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,TOTAL ASSESTS
1,Male,Yes,1,1,No,1508.0,128.0,360.0,1.0,Rural,N,6091.0
2,Male,Yes,0,1,Yes,0.0,66.0,360.0,1.0,Urban,Y,3000.0
3,Male,Yes,0,0,No,2358.0,120.0,360.0,1.0,Urban,Y,4941.0
4,Male,No,0,1,No,0.0,141.0,360.0,1.0,Urban,Y,6000.0
5,Male,Yes,2,1,Yes,4196.0,267.0,360.0,1.0,Urban,Y,9613.0
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,1,No,0.0,71.0,360.0,1.0,Rural,Y,2900.0
610,Male,Yes,3+,1,No,0.0,40.0,180.0,1.0,Rural,Y,4106.0
611,Male,Yes,1,1,No,240.0,253.0,360.0,1.0,Urban,Y,8312.0
612,Male,Yes,2,1,No,0.0,187.0,360.0,1.0,Urban,Y,7583.0
613,Female,No,0,1,Yes,0.0,133.0,360.0,0.0,Semiurban,N,4583.0

In [119]:
df.Self_Employed.unique()

array(['No', 'Yes'], dtype=object)

In [120]:
df["Self_Employed"]= df["Self_Employed"].replace(['No', 'Yes'],[0,1])

C:\Users\ACER\AppData\Local\Temp\ipykernel_23016\302191987.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Self_Employed"]= df["Self_Employed"].replace(['No', 'Yes'],[0,1])

In [121]:
df.Self_Employed

1      0
2      1
3      0
4      0
5      1
      ..
609    0
610    0
611    0
612    0
613    1
Name: Self_Employed, Length: 480, dtype: int64

In [122]:
df.Property_Area.unique()

array(['Rural', 'Urban', 'Semiurban'], dtype=object)

In [123]:
df["Property_Area"] = df["Property_Area"].replace(['Rural', 'Urban', 'Semiurban'],[-1,1,0])

C:\Users\ACER\AppData\Local\Temp\ipykernel_23016\3385990516.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Property_Area"] = df["Property_Area"].replace(['Rural', 'Urban', 'Semiurban'],[-1,1,0])

In [124]:
df.Property_Area

1     -1
2      1
3      1
4      1
5      1
      ..
609   -1
610   -1
611    1
612    1
613    0
Name: Property_Area, Length: 480, dtype: int64

In [125]:
df.Loan_Status.unique()

array(['N', 'Y'], dtype=object)

In [126]:
df["Loan_Status"]= df["Loan_Status"].replace(['N', 'Y'],[0,1])

C:\Users\ACER\AppData\Local\Temp\ipykernel_23016\1513371305.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Loan_Status"]= df["Loan_Status"].replace(['N', 'Y'],[0,1])

In [127]:
df['Dependents'] = df['Dependents'].replace('3+', 3)

In [128]:
df.Married.unique()

array(['Yes', 'No'], dtype=object)

In [129]:
df["Married"]=df["Married"].replace(['Yes', 'No'],[1,0])

C:\Users\ACER\AppData\Local\Temp\ipykernel_23016\2148608578.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Married"]=df["Married"].replace(['Yes', 'No'],[1,0])

In [130]:
df.Gender.unique()

array(['Male', 'Female'], dtype=object)

In [131]:
df["Gender"] = df["Gender"].replace(['Male', 'Female'],[1,0])

C:\Users\ACER\AppData\Local\Temp\ipykernel_23016\290288991.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Gender"] = df["Gender"].replace(['Male', 'Female'],[1,0])

In [132]:
df.Loan_Status

1      0
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 480, dtype: int64

DATA TRAINING

In [133]:
input_data=df.drop(columns=["Loan_Status"])
output_data=df["Loan_Status"]

In [134]:
input_data

,Gender,Married,Dependents,Education,Self_Employed,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,TOTAL ASSESTS
1,1,1,1,1,0,1508.0,128.0,360.0,1.0,-1,6091.0
2,1,1,0,1,1,0.0,66.0,360.0,1.0,1,3000.0
3,1,1,0,0,0,2358.0,120.0,360.0,1.0,1,4941.0
4,1,0,0,1,0,0.0,141.0,360.0,1.0,1,6000.0
5,1,1,2,1,1,4196.0,267.0,360.0,1.0,1,9613.0
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,1,0,0.0,71.0,360.0,1.0,-1,2900.0
610,1,1,3,1,0,0.0,40.0,180.0,1.0,-1,4106.0
611,1,1,1,1,0,240.0,253.0,360.0,1.0,1,8312.0
612,1,1,2,1,0,0.0,187.0,360.0,1.0,1,7583.0
613,0,0,0,1,1,0.0,133.0,360.0,0.0,0,4583.0

In [135]:
output_data

1      0
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 480, dtype: int64

In [136]:
x_train,x_test,y_train,y_test= train_test_split(input_data,output_data , test_size=0.2)

In [137]:
x_test.shape,x_train.shape,y_test.shape,y_train.shape

((96, 11), (384, 11), (96,), (384,))

In [138]:
scaler= StandardScaler()

In [139]:
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

MODEL MAKING

In [140]:
model = LogisticRegression()

In [141]:
model.fit(x_train_scaled,y_train)

LogisticRegression()

MODEL ACCURACY

In [142]:
model.score(x_train_scaled,y_train)

0.8151041666666666

In [143]:
pred_data = pd.DataFrame([[f"1", "1" ,"1", "1", "0", "1508.0", "128.0", "360.0", "1.0", "-1", "6091.0"]]
 ,
                          columns=[f"Gender",	"Married",	"Dependents"	,"Education",	"Self_Employed"	,"CoapplicantIncome",	"LoanAmount",	"Loan_Amount_Term"	,"Credit_History",	"Property_Area"	,"TOTAL ASSESTS"])

In [144]:
model.predict(pred_data)

d:\Softwares\Anaconda\Lib\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

array([0], dtype=int64)

CONCLUDED DATA

In [145]:
with open("Open DAta.pkl", "wb") as f:
    pk.dump(model, f)

with open("Scaled DAta.pkl", "wb") as f:
    pk.dump(scaler, f)

-> APP.py